<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>
       SufferProgrammer
    </title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
</head>
<body>
    <div id="header">
        <h1 class="blog-id">
            <a href="">
                SufferProgrammer
            </a>
        </h1>
    </div>
    <div id="wrapper">
        <div id="main-content">
            {% for post in post %}
                 <br>
                    <h2>
                        <a href="">
                            {{ post.Title}}
                    </a>
                <br>
                </h2>
                    {{ post.Content|linebreaks }}
                <br>
                    Created @ {{ post.Created }}
                <p>
            {% endfor %}
        </div>
    </div>
    <div id="footer">
        <a href="mailto:oniioniichan@gmail.com">Email</a>
        <a href="telp:081351934558">Contact</a>
        <a href="https://sufferprogrammer.github.io/cv">About</a>
        <div class="footer-copyright">
            <strong>Copyright</strong> &copy; 2016 SufferProgrammer
        </div>
    </div>
</body>
</html>
