*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif; 
}

p{
    text-align: justify;
}

body{
    background-color: #5BC0EB;
}

#header{
    background: #FDE74C;
    padding: 27px;
    color: #9BC53D;
    text-align: right;
}

#footer{
    background: #FA7921;
    padding: 30px;
}

#footer a{
    text-decoration: none;
    color: white;
}

#footer .footer-copyright{
    float: right;
}

#wrapper{
    padding: 45px;
    margin: 0 auto;
    width: 720px;
}

